@font-face {
  font-family: logo_font;
  src: url('../fonts/Freshman.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/*
This section below creates a 3/4 section that will be used
*/
.horizontal_3_quarter_section .container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 200px;
  color: white;
  font-size: 18px;
}

.horizontal_3_quarter_section .container div {
  text-align: center;
  padding: 50px;
}

.horizontal_3_quarter_section .container .image {
  background-image: url('../images/placeholder_image.png');
  background-size: cover;
}

.standard_button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition: 200ms ease-in-out;
}

.standard_button:hover {
  padding: 18px 32px;
}

nav {
  text-align: center;
}

nav nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav  ul li {
  height: 100%;
  font-size: 20px;
  font-family: sans-serif;
  display: inline-block;
  padding: 0 40px;
}

nav  ul li a {
  display: block;
  color: #f3a953;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  color: black;
}


#logo {
  font-family: 'Alfa Slab One', cursive;
  font-size: 50px;
  margin-top: 25px;
  font-weight: lighter;
  color: #366ed8;
}


header {
  width: 100%;
  height: 400px;
  background-size: cover;
  margin-top: 50px;
  background-attachment: fixed;
}

#homepage_header {
  background-image: url('../images/University_image.jpg');
}


.homepage_section_1 .container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 200px;
}

.homepage_section_1 h1 {
  font-family: 'Raleway', sans-serif;
  color: #366ed8;
}

.homepage_section_1 .container div {
  border-right: 1px black solid;
  text-align: center;
  padding: 50px;
}

.homepage_section_1 .container div p {
  font-size: 17px;
  font-family: sans-serif;
}


#homepage_section_2 .container {
  grid-template-columns: 3fr 1fr;
}


#homepage_section_2 .standard_button {
  background-color: #f3a953;
  position: relative;
  top: 100px;
  right: 150px;
}

#homepage_section_2 {
  background-color: #366ed8;
  color: white;
  padding: 40px;
  font-size: 25px;
}

#homepage_section_2 .image {
  background-image: url('../images/football_photo.jpg');
}
#homepage_section_3 {
  background-color: #f3a953;
  color: white;
  padding: 40px;
  font-size: 25px;
}



#homepage_section_3 .container {
  grid-template-columns: 1fr 3fr;
}

#homepage_section_3 .standard_button {
  background-color: #366ed8;
  position: relative;
  top: 100px;
  left: 150px;

}

#homepage_section_3 .image {
  background-image: url('../images/rowing_photo.jpg');
}


.homepage_section_4 .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px;
}

.homepage_section_4 .container div {
  border: 1px  solid #366ed8;
  text-align: center;
  padding: 40px;
}

.homepage_section_4 .container .image {
  border-radius: 50%;
  width: 20px;
  margin: 0 auto;
  background-image: url('../images/placeholder_image.png');
  background-size: cover;
}

.homepage_section_4 .container p {
  margin-top: 20px;
  font-size: 15px;
}

#image_1 {
  background-image: url('../images/person_1.jpg');
}
#image_2 {
  background-image: url('../images/person_2.jpg');
}
#image_3 {
  background-image: url('../images/person_3.jpg');
}
footer {
  background-color: #366ed8;
  padding: 30px;
  margin-bottom: 0px;
}


.sportspage_header {
  background-image: url(../images/Football_field.jpg);
  background-size: cover;
  background-position: bottom;
}

.sportspage_header h1 {
  font-size: 40px;
  color: white;
  position: relative;
  top: 160px;
}
#scholarship_section_1 .container{
  grid-template-columns: 1fr 3fr;
  background-color: #366ed8;

}

#scholarship_section_1 .image {
  background-image: url(../images/soccer_photo_2.jpg);
}
#scholarship_section_2 .container{
  grid-template-columns: 3fr 1fr;
  background-color: #f3a953;
}

#scholarship_section_2 .image {
  background-image: url(../images/basketball_photo.jpg);
}
#scholarship_section_3 .container{
  grid-template-columns: 1fr 3fr;
  background-color: #366ed8;
}

#scholarship_section_3 .image {
  background-image: url(../images/track_photo.jpg);
}



.testomonial_box {
  width: 50%;
  background-color: #366ed8;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 400px;
  grid-gap: 1px;
  margin-top: 30px;
}

.testomonial_box .grid_half {

}
.testomonial_box .grid_half .image_box {
  width: 200px;
  height: 300px;
  background-color: yellow;
  margin-left: -100px;
  margin-top: 50px;
}

#text_half {
  padding: 80px;
  font-size: 30px;
  color: white;
}

#image_box_1 {
  background-image: url('../images/person_1.jpg');
  background-size: contain;
}

#image_box_2 {
  background-image: url('../images/person_2.jpg');
  background-size: cover;
}

#image_box_3 {
  background-image: url('../images/person_3.jpg');
  background-size: cover;
}

#testomonial_box_1 {
background-color: #366ed8;
}
#testomonial_box_2 {
  background-color: #f3a953;
}

.contact_grid {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  margin: 80px auto;

}


#email {
  background-color: #366ed8;

}

#email img {
  width: 50%;
  margin-top: 10px;
}

#instagram {
  background-color: #f3a953;
}

#instagram img {
  width: 35%;
  margin-top: 40px;
}

#twitter {
  background-color: #366ed8;
}

#twitter img {
  width: 40%;
  margin-top: 30px;
}

#NCAA{
  background-color: #f3a953;
}

#NCAA img {
  width: 50%;
  margin-top: 10px;
}

.scholarship_header {
  background-image: url('../images/lecture_theater.jpeg');
  background-size: cover;
  background-position: bottom;
}

.scholarship_header h1 {
  font-size: 40px;
  color: white;
  position: relative;
  top: 160px;
}

#sports_section_1 .container{
  grid-template-columns: 1fr 3fr;
  background-color: #f3a953;

}

#sports_section_1 .image {
  background-image: url(../images/rugby_photo.jpg);
}
#sports_section_2 .container{
  grid-template-columns: 3fr 1fr;
  background-color: #366ed8;
}

#sports_section_2 .image {
  background-image: url(../images/rowing_photo_2.jpg);
}
#sports_section_3 .container{
  grid-template-columns: 1fr 3fr;
  background-color: #f3a953;
}

#sports_section_3 .image {
  background-image: url(../images/swimming_photo.jpg);
}
